; NS & A records
$TTL    604800
@       IN      SOA     ns1.{{ domain_url }}. email.gmail.com. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
; list nameservers
                IN      NS      ns1.{{ domain_url }}.
                IN      NS      ns2.{{ domain_url }}.

; address to name mapping
{{ domain_url }}.       IN      A       {{ ip_address }}
ns1.{{ domain_url }}.   IN      A       {{ ip_address }}
ns2.{{ domain_url }}.   IN      A       {{ ip_address }}
test1.{{ domain_url }}. IN      A       {{ ip_address }}
www.{{ domain_url }}.   IN      A       {{ ip_address }}
