  
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ domain_url }}" {
        type master;
        file "/etc/bind/zones/db.{{ domain_url }}";
};

zone "{{ r_ip }}.in-addr.arpa" {
        type master;
        file "/etc/bind/zones/db.{{ r_ip }}";
};
