server {
        listen 80;
        listen [::]:80;
        server_name {{ domain_url }} www.{{ domain_url }} localhost;
        return 301 https://$host$request_uri;
}
server {
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;

        ssl_certificate {{ keys_path }}/{{ server_crt }}.crt;
        ssl_certificate_key {{ keys_path }}/{{ server_private_key }}.rsa;


        root /var/www/wordpress;
        index index.php index.html index.htm index.nginx-debian.html;
        server_name {{ domain_url }} www.{{ domain_url }} {{ip_address}};

        location = /favicon.ico { log_not_found off; access_log off; }
        location = /robots.txt { log_not_found off; access_log off; allow all; }
        location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
                expires max;
                log_not_found off;
        }

        location / {
                try_files $uri $uri/ /index.php$is_args$args;
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }
}


